<%= content_tag :nav, class: navbar_class do %>
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "BIKEO", root_path, class: "navbar-brand" %>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav navbar-right">
      <li>
        <div class="navbar-btn">
          <%= link_to new_bike_path, class: "btn-action btn" do %>
          List a ride
          <% end %>
        </div>
      </li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
<% end %>
