<h1 class="text-center">CHOOSE YOUR BIKE !</h1>


 <div class="container">
        <div class="row">
          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <span class="card-bg" style="background-image: url('https://encrypted-tbn1.gstatic.com/images?q=tbn:ANd9GcTeOQU_Ujn3WmDWI0JoHHCTdsLHF2frkJF-1tkoIv7CEyq2dpBevw')"></span>
              <span class="card-shadow"></span>
              <span class="card-description">Popular</span>
              <span class="card-text">
                <h2>Mountain bike</h2>
                <p>Amazing mountaine roads</p>
              </span>
              <span class="card-user">
              <%= image_tag avatar_url(current_user) %>
              </span>
              <a href="#" class="card-link"></a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <span class="card-bg" style="background-image: url('http://www.calfeedesign.com/wp-content/uploads/2011/08/CalfeeCoupledTetraDi2_1000.jpg')"></span>
              <span class="card-shadow"></span>
              <span class="card-description">Popular</span>
              <span class="card-text">
                <h2>Tandem in Love</h2>
                <p>Ride with love</p>
              </span>
              <span class="card-user">
                <img src='http://placehold.it/50x50' class="avatar avatar-bordered"/>
              </span>
              <a href="#" class="card-link"></a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-4">
            <div class="card">
              <span class="card-bg" style="background-image: url('http://limelight.ddb.com/wp-content/uploads/2013/09/Screen-shot-2013-09-03-at-9.35.55-AM.png')"></span>
              <span class="card-shadow"></span>
              <span class="card-description">Popular</span>
              <span class="card-text">
                <h2>French Fixie</h2>
                <p>So French So Good !</p>
              </span>
              <span class="card-user">
                <img src='http://placehold.it/50x50' class="avatar avatar-bordered"/>
              </span>
              <a href="#" class="card-link"></a>
            </div>
          </div>

        </div>
      </div>
