<h1>Bikes</h1>

<div class="row">
  <div class="col-md-4">
    <div class="panel panel-default">
      <div class="panel-heading">
        TITLE
      </div>
      <div class="panel-body">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit voluptatum doloribus dicta, pariatur, animi recusandae eum officia quas tempora, error cum modi facilis fugiat enim omnis nostrum sit illum quo.
      </div>
    </div>
  </div>
</div>
