@import "variables";
@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "toastr";
@import "mixins/*";
@import "pages/*";
@import "shared/*";


body {
  color: #565a5c;
  background-color: #f8f8f8;
}

.img-circle {
  border: 1.5px solid
}

.container {
  width: 80%;
}

.panel-default .panel-heading {
  color: #565a5c;
  background-color: #edefed;
  font-size: 18px;
  font-weight: 400;
}


.row-space-1 {
  margin-top: 6px;
  margin-bitton: 6px;
}

.row-space-2 {
  margin-top: 12px;
  margin-bitton: 12px;
}

.row-space-3 {
  margin-top: 24px;
  margin-bitton: 24px;
}

.desctiption {
  color: #575757;
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
}

.avatar-small {
  width: 28px;
}
.avatar-medium {
  width: 48px;
}

.avatar-large {
  width: 68px;
}

.avatar-full {
  width: 100%;
}

.form-group {
  margin-bottom: 25px;
}

.form-control {
  border-radius: 2px;
  height: 4rem;
}

.sidebar-list {
  padding-left: 0;
  list-style: none;
}

.sidebar-item {
  padding: 10px 0;
  font-size: 16px;
  color: #82888a;
  border-bottom: 1px solid #CCC;
}

.sidebar-link {
  color: #cacccd;
  text-decoration: none;
}

.sidebar-link:hover, .sidebar-link:focus {
  color: #cacccd;
  text-decoration: none;
}

.active.sidebar-link {
  color: #565a5c;
  font-weight: bold;
  text-decoration: none
}

label {
  color: #565a5c;
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
}

select {
  color: #565a5c;
  background-color: #fff;
  width: 100%;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 10px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

.select:before {
  content:'\25bc';
  position: absolute;
  color: #82888a;
  top: 40px;
  right: 30px;
  transform: scale(0.84, 0.42);
}

input[type="checkbox"] {
  height: 1.25em;
  width: 1.25em;
  margin-bottom: -0.25em;
  margin-right: 5px;
  vertical-align: top;
  border: 1px solid #c4c4c4;
  border-radius: 2px;
  appearance: none;
  -moz-appearance: none;
  -webkit-appearance: none;
}

input[type="checkbox"]:checked:before {
  content: "\2713";
  position: absolute;
  font-size: 0.95em;
  text-align: center;
  width: 1.25em;
  color: #337AB7;
}

.btn-file {
  position: relative;
  overflow: hidden;

}

.btn-file input[type=file] {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 100px;
  text-align: right;
  filter: alpha(opacity=0);
  opacity: 0;
  outline: none;
  background: white;
  cursor: inherit;
  display: block;
}

.panel-heading.preview {
  padding: 0;
}

.panel-heading.preview img {
  width: 100%;
}

.img-bg {
  width: 100%;
  background-size: cover;
  height: 402px;
  background-position: center;
}

.panel-show-page {
  border-radius: 0px;
  border-top: 0px
}

.amenities li {
  margin-bottom: 10px;
  list-style-type: none;
}

.text-line-through {
  text-decoration: line-through;
}

.conversation {
  color: #7f7f7f;
  padding: 10px
}

.conversation:hover, .conversation:focus {
  background-color: #F4F4f5;

}

// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.card {
  position: relative;
  height: 175px;
  width: 100%;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  color: white;
  margin: 20px auto;
}
.card-bg{
  background-size: cover;
  border-radius: 3px;
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  background-position: center;
}
.card-shadow {
  background-image: linear-gradient(to right, rgba(0,0,0,0.4) 0%, rgba(0,0,0,0.1) 80%);
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
}
.card-description {
  font-size: 10px;
  text-transform: uppercase;
  position: absolute;
  top: 10px;
  left: 10px;
}
.card-text {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-text h2 {
  font-size: 24px;
}
.card-text p {
  font-size: 13px;
}
.card-user {
  position: absolute;
  right: 10px;
  top: 10px;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  z-index:2;
  background: black;
  opacity: 0;
}
.card-link:hover{
  opacity: 0.1;
}

.read {
    right: 0;
    bottom: 0;
    margin: 0px 8px;
    position: absolute;
    color: #2CBE42;
    content: "\f00c";
}

.unread {
    right: 0;
    bottom: 0;
    margin: 0px 8px;
    position: absolute;
    color: #C8D5B9;
    content: "\f00c";
}

.panel-message {
  position: relative;
}

.li-message {
  postion: relative
}

.pico {
  width: 100%;
}

.icon-badge {
    font-size: 55px;
    border: 0px;
    position: absolute;
    border: 2px solid #ff5a5f;
    top: 3px;
    right: 0px;
    font-size: 10px;
    color: white;
    line-height: 20px;
    width: 23px;
    text-align: center;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.08);
    color: #ff5a5f;
    font-size: 12px;
}

.reservation-table td {
  width: 100%;
  border: 1px solid #dce0e0;
  padding: 10px;
}

.wide {
  width: 100%;
}

.price_tag {
  background-color: #606567;
  color: #fff;
  font-size: 20px;
  padding: 10px;
  margin-bottom: 10px;
}

.price_tag span {
  float: left;
}

.accessories li {
  margin-bottom: 10px;
  list-style-type: none;
}


.text-line-through {
text-decoration: line-through;
}

.delete_cross {
  color: #1ED760;
  position: relative;
  top: 5px;
}

#wrapper {
  width: 960px;
  margin:0 auto;
}

#sidebar {
  float: right;
  width: 340px;
}
#sidebar #widget {
  width: 340px;
  height: 600px;
  margin-bottom: 10px;
  border-bottom: 1px solid #ccc;
}

#article {
  width: 560px;
}

.btn-search, .btn-search:hover {
  font-size: 14px;
  line-height: 1.5;
  border-radius: 500px;
  padding: 7px 35px;
  background-color: #1ED760;
  color: white;
  border-color: #1ED760;

}

.btn-search:hover {
  opacity: 0.5;
}


#search {
  padding-right: 70px;
}

input::-webkit-input-placeholder {
   padding-right: 50px;
}


input:-moz-placeholder {
    padding-right: 50px;
}

.container-off {
  width: 100% !important;
}

.bg-title {
    color: white;
    font-family: helvetica;
    font-size: 40px;
}

.margin-left {
    margin-left: 244px;
}

